<div class="head-menu-wrapper">
  <div class="head-menu-wrapper-internal">
	<a class="head-menu-title" href="{{ site.baseurl }}/">Luca Negrini</a>
	<ul id="headmenu" class="head-menu">
	  <li class="head-menu-item{% if page.url contains '#hi-im-luca' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/#hi-im-luca">Home</a></li>
	  <li class="head-menu-item{% if page.url contains '#projects' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/#projects">Projects</a></li>
	  <li class="head-menu-item{% if page.url contains '#publications' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/#publications">Publications</a></li>
	  <li class="head-menu-item{% if page.url contains '#talks' %} active-menu-item{% endif %}"><a href="{{ site.baseurl }}/#talks">Talks</a></li>
	</ul>
  </div>
</div>