---
layout: secondary
---

<topic>{{ page.tags | join: "</topic>&nbsp;&nbsp;<topic>" }}</topic><br/>

<h1>Education: {{ page.title }}</h1>

<venue>{{ page.venue }}</venue><br/>

<small>{{ page.location }}, {{ page.when }}</small>

<br/>
{{content}}

<div class="divtable">
    <table>
        <tbody>
        {% if page.manuscript %}
            <tr>
                <td><i class="fas fa-file-pdf"></i> Thesis:</td>
            <td><a href="{{ site.baseurl }}/manuscripts/{{ page.manuscript }}">PDF</a></td>
            </tr>
        {% endif %}
        {% if page.slides %}
            <tr>
                <td><i class="fas fa-file-pdf"></i> Slides:</td>
            <td><a href="{{ site.baseurl }}/manuscripts/{{ page.slides }}">PDF</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
