---
layout: secondary
---

<h1>Corso: {{ page.title }}</h1>

<venue>L'esame è stato svolto nel {{ page.year }}</venue><br/>

<br/>
{{content}}

<div class="divtable">
    <table>
      <tbody>
{% if page.github %}
        <tr>
            <td><i class="fas fa-code-branch"></i> Github:</td>
          <td><a href="{{ page.github }}">repository</a></td>
        </tr>
{% endif %}
{% if page.appunti %}
        <tr>
            <td><i class="fas fa-pen"></i> Appunti:</td>
          <td><a href="{{ page.appunti }}">dispensa</a></td>
        </tr>
{% endif %}
{% if page.esercizi %}
        <tr>
            <td><i class="fas fa-pen-nib"></i> Esercizi:</td>
            <td><a href="{{ page.esercizi }}">quaderno</a></td>
        </tr>
{% endif %}
{% if page.esercitazioni %}
        <tr>
            <td><i class="fas fa-book-open"></i> Esercitazioni:</td>
            <td><a href="{{ page.esercitazioni }}">quaderno</a></td>
        </tr>
{% endif %}
      </tbody>
    </table>
  </div>